body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

text {
    font: 12px sans-serif;
}
.svg {
    display: block;
    height:100%;
}
#chart_week{
    height: 27em;
    width: 100%;
}
#chart_6hours{
    height: 13em;
    height: 100%;
}
#title{
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}

/* parte photos */
